#root {
    width: 100%;
    height: 100%;
}
.css-v82cpl {
    display: flex;
}

.css-103o8ot {
    align-items: flex-start;
    padding: 56px 40px 0px 56px;
}
.css-103o8ot {
    top: 0px;
    z-index: 9;
    line-height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 24px;
    justify-content: space-between;
}
.css-189g7o {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 16px;
    z-index: 0;
    width: 100%;
    max-width: 564px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 0px 16px 16px;
}.css-1qsxih2 {
    max-width: 1200px;
}
.css-1qsxih2 {
    padding-left: 24px;
    padding-right: 24px;
}
.css-1qsxih2 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}
.css-1ngw63v {
    width: 40px;
    height: 40px;
}
.css-8r6ded {
    margin-top: -16px;
}
.css-8r6ded {
    margin: 0px;
        margin-top: 0px;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: Public Sans, sans-serif;
    font-weight: 400;
}.css-1j3rfw {
    margin: 0px;
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: Public Sans, sans-serif;
    color: rgb(52, 142, 254);
    text-decoration: none;
}.css-w29fpn {
    font-size: 2rem;
}
.css-w29fpn {
    font-size: 1.875rem;
}
.css-w29fpn {
    font-size: 1.625rem;
}
.css-w29fpn {
    margin: 80px 0px 40px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: Public Sans, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}.css-gecs57 {
    line-height: 0;
    display: block;
    overflow: hidden;
}.css-gecs57 .wrapper {
    width: 100%;
    height: 100%;
    background-size: cover !important;
}.css-6jrdpz {
    width: 100%;
    height: 100%;
    object-fit: cover;
}.css-26q4qm {
    max-width: 480px;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 96px 0px;
}.css-2ges0f {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}.css-i9gxme {
    flex-grow: 1;
}.css-1bhrkuh {
    font-size: 1.5rem;
}
.css-1bhrkuh {
    font-size: 1.5rem;
}
.css-1bhrkuh {
    font-size: 1.25rem;
}
.css-1bhrkuh {
    margin: 0px 0px 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.25rem;
    font-family: Public Sans, sans-serif;
}.css-ovnx7g {
    display: flex;
    flex-direction: column;
}.css-feqhe6 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px none;
    vertical-align: top;
    width: 100%;
}.css-ak5t1g {
    line-height: 1.4375em;
    font-size: 1rem;
    font-family: Public Sans, sans-serif;
    font-weight: 400;
    padding: 0px;
    color: rgb(145, 158, 171);
    display: block;
    transform-origin: left top 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
}.css-zxygra {
    line-height: 1.4375em;
    font-size: 1rem;
    font-family: Public Sans, sans-serif;
    font-weight: 400;
    color: rgb(33, 43, 54);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 8px;
}.css-yzm7vx {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px none;
    box-sizing: content-box;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    height: 1.4375em;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}.css-zxygra .MuiOutlinedInput-notchedOutline {
    border-color: rgba(145, 158, 171, 0.32);
}
.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}.css-1ftyaf0 {
    float: unset;
    overflow: hidden;
    display: block;
    width: auto;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 0.01px;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    white-space: nowrap;
}.css-ovnx7g > :not(style) + :not(style) {
    margin: 24px 0px 0px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.css-1nuss9t {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px none;
    box-sizing: content-box;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    height: 1.4375em;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 0px 16.5px 14px;
}.css-5zxort {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    color: rgb(99, 115, 129);
    margin-left: 8px;
}.css-1s1v3gk .MuiOutlinedInput-notchedOutline {
    border-color: rgba(145, 158, 171, 0.32);
}
.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}.css-ovnx7g > :not(style) + :not(style) {
    margin: 24px 0px 0px;
}
.css-feqhe6 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px none;
    vertical-align: top;
    width: 100%;
}
.css-ak5t1g {
    line-height: 1.4375em;
    font-size: 1rem;
    font-family: Public Sans, sans-serif;
    font-weight: 400;
    padding: 0px;
    color: rgb(145, 158, 171);
    display: block;
    transform-origin: left top 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
}
.css-1ftyaf0 {
    float: unset;
    overflow: hidden;
    display: block;
    width: auto;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 0.01px;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    white-space: nowrap;
}.css-5zxort {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    color: rgb(99, 115, 129);
    margin-left: 8px;
}.css-12xczkh {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: currentcolor none 0px;
    border: 0px none;
    margin: 0px -12px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgb(99, 115, 129);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}.css-5zxort {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    color: rgb(99, 115, 129);
    margin-left: 8px;
}.css-1s1v3gk {
    line-height: 1.4375em;
    font-size: 1rem;
    font-family: Public Sans, sans-serif;
    font-weight: 400;
    color: rgb(33, 43, 54);
    cursor: text;
}


